.homeHero,
.singleRoomHero,
.notFoundHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.singleRoomHero,
.roomsHero {
  min-height: 60vh;
}
