.roomsfilter {
  padding: 5rem 0;
}
.roomsfilter__form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.roomsfilter__form-group {
  text-transform: capitalize;
}
.roomsfilter__form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.roomsfilter__form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.roomsfilter__size-inputs {
  display: flex;
}
.roomsfilter__size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.roomsfilter__single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .roomsfilter__form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .roomsfilter__form {
    width: 95vw;
    max-width: 1170px;
  }
}
